<template>
  <v-container>
    <v-form ref="form" v-model="valid" lazy-validation>
    <v-text-field
        v-model="nama"
        type="string"
        label="Nama"
        :rules="namaRules"
        required
        append-icon="mdi-account"
    ></v-text-field>
    <v-text-field
        v-model="nik"
        type="number"
        label="NIK"
        :rules="nikRules"
        required
        append-icon="mdi-card-account-details"
    ></v-text-field>
    <v-text-field
        v-model="noKK"
        type="number"
        label="Nomor Kartu Keluarga"
        :rules="noKKRules"
        required
        append-icon="mdi-card-account-details"
    ></v-text-field>
    <v-file-input
        v-model = fotoKTP
        accept="image/png, image/jpeg, image/jpg, image/bmp"
        placeholder="Foto KTP"
        prepend-icon="mdi-camera"
        required
        label="Foto KTP"
        show-size
        :rules="fotoKTPRules"
    ></v-file-input>
    <v-file-input
        v-model = fotoKK
        accept="image/png, image/jpeg, image/jpg, image/bmp"
        placeholder="Foto Kartu Keluarga"
        prepend-icon="mdi-camera"
        required
        label="Foto Kartu Keluarga"
        show-size
        :rules="fotoKKRules"
    ></v-file-input>
    <v-text-field
        v-model="umur"
        type="number"
        label="Umur"
        :rules="umurRules"
        required
        append-icon="mdi-numeric"
    ></v-text-field>
    <v-select
      v-model="jenis_kelamin"
      :items="opsi_jenis_kelamin"
      :rules="[v => !!v || 'Jenis kelamin harus diisi']"
      label="Jenis Kelamin"
      required
    ></v-select>
    <v-textarea
        v-model="alamat"
        type="string"
        label="Alamat"
        :rules="alamatRules"
        required
        append-icon="mdi-home"
    ></v-textarea>
    <v-text-field
        v-model="rt"
        type="string || number"
        label="RT"
        :rules="[v => !!v || 'RT harus diisi']"
        required
        append-icon="mdi-home"
    ></v-text-field>
    <v-text-field
        v-model="rw"
        type="string || number"
        label="RW"
        :rules="[v => !!v || 'RW harus diisi']"
        required
        append-icon="mdi-home"
    ></v-text-field>
    <v-text-field
        v-model="penghasilan_pra"
        type="number"
        label="Penghasilan sebelum pandemi"
        :rules="[v => !!v || 'Penghasilan sebelum pandemi harus diisi']"
        required
        append-icon="mdi-cash-multiple"
        prefix="Rp"
    ></v-text-field>
    <v-text-field
        v-model="penghasilan_pasca"
        type="number"
        label="Penghasilan setelah pandemi"
        :rules="[v => !!v || 'Penghasilan setelah pandemi harus diisi']"
        required
        append-icon="mdi-cash-multiple"
        prefix="Rp"
    ></v-text-field>
    <v-select
        :items="opsi_alasan"
        v-model="alasan"
        label="Alasan membutuhkan bantuan"
        :rules="[v => !!v || 'Alasan membutuhkan bantuan harus diisi']"
        required>
    </v-select>
    <v-text-field 
        v-model="alasan_lain" 
        label="Alasan membutuhkan bantuan lainnya"
        v-if="alasan=='Lainnya: … (silakan isi form yang keluar setelah klik)'"
        :rules="[v => !!v || 'Alasan membutuhkan bantuan lainnya harus diisi']"
        required>>
    </v-text-field>
    <v-checkbox
      v-model="pernyataan"
      :rules="[v => !!v || 'Anda harus menyetujui pernyataan ini']"
      label="Saya menyatakan bahwa data yang diisikan adalah benar dan siap mempertanggungjawabkan apabila ditemukan ketidaksesuaian dalam data tersebut."
      required
    ></v-checkbox>
    

    <div class="text-xs-center">
        <v-btn
            :disabled="!valid"
            color="success lighten-1"
            @click="validate"
            style="margin-right : 5px"
            :loading="loading"
            >
            Kirimkan Data
            <v-icon right dark>mdi-account-plus</v-icon>
        </v-btn>
        <v-btn
            color="error"
            @click="reset"
            >
            Reset Form
        </v-btn>
    </div>
  </v-form>
    <v-snackbar
        v-model="snackbar"
        :color="color"
        text
        >
        {{ s_text }}

        <template v-slot:action="{ attrs }">
            <v-btn
            :color="color"
            text
            v-bind="attrs"
            @click="snackbar = false"
            >
            Close
            </v-btn>
        </template>
    </v-snackbar>
  </v-container>
</template>

<script>
export default {
    data () {
        return {
            valid: false,
            loader: null,
            loading: false,
            nama: '',
            namaRules: [
                v => !!v || 'Nama harus diisi',
            ],
            nik: undefined,
            nikRules: [
                v => !!v || 'NIK harus diisi',
                v => (v && !isNaN(parseInt(v))) || 'NIK harus terdiri atas angka saja',
                v => (v && v.length == 16) || 'NIK harus terdiri dari 16 angka',
            ],
            noKK: undefined,
            noKKRules: [
                v => !!v || 'Nomor Kartu Keluarga harus diisi',
                v => (v && !isNaN(parseInt(v))) || 'Nomor Kartu Keluarga harus terdiri atas angka saja',
                v => (v && v.length == 16) || 'Nomor Kartu Keluarga harus terdiri dari 16 angka',
            ],
            fotoKTP : undefined,
            fotoKTPRules: [
                v => !!v || 'Foto KTP harus diisi',
                v => (v && v.size < 2000000) || 'Ukuran file foto KTP maksimal 2 MB',
                v => (v && v.name.toLowerCase().split('.').pop() == ('jpg' || 'jpeg' || 'png' || 'bmp')) || 'Format file harus berupa JPG/JPEG/PNG/BMP',
            ],
            fotoKK : undefined,
            fotoKKRules: [
                v => !!v || 'Foto KK harus diisi',
                v => (v && v.size < 2000000) || 'Ukuran file foto KTP maksimal 2 MB',
                v => (v && v.name.toLowerCase().split('.').pop() == ('jpg' || 'jpeg' || 'png' || 'bmp')) || 'Format file harus berupa JPG/JPEG/PNG/BMP',
            ],
            umur: undefined,
            umurRules: [
                v => !!v || 'Umur harus diisi',
                v => (v && v >= 25) || 'Umur harus lebih dari atau sama dengan 25 tahun',
            ],
            jenis_kelamin : null,
            opsi_jenis_kelamin: [
                'Laki-laki',
                'Perempuan',
            ],
            alamatRules: [
                v => !!v || 'Alamat harus diisi',
                v => (v && v.length <= 255 ) || 'Alamat tidak boleh lebih panjang dari 255 karakter'
            ],
            alamat : null,
            rt : null,
            rw : null,
            penghasilan_pra : null,
            penghasilan_pasca : null,
            opsi_alasan: [
                'Kehilangan pekerjaan',
                'Kepala keluarga terdampak atau korban Covid',
                'Tergolong fakir/miskin semenjak sebelum Covid',
                'Lainnya: … (silakan isi form yang keluar setelah klik)',
            ],
            alasan : null,
            alasan_lain : null,
            pernyataan : null,
            snackbar: false,
            s_text: `Snackbar text`,
            color : 'success',


        }
    },
    watch: {
      loader () {
        const l = this.loader
        this[l] = !this[l]

        setTimeout(() => (this[l] = false), 2500)

        this.loader = null
      },
    },
    methods : {

        validate () {
        this.loader = 'loading'
        this.$refs.form.validate()
        setTimeout( () => {if(this.valid){this.submit()}}, 1000);
        },

        reset () {
        this.$refs.form.reset()
        },
        

        submit() {
            var alasan = null
            if(this.alasan == 'Lainnya: … (silakan isi form yang keluar setelah klik)'){
                alasan = this.alasan_lain;
            }else{alasan = this.alasan}

            let data = {
                Nama : this.nama,
                NIK : this.nik,
                'Nomor Kartu Keluarga' : this.noKK,
                'Foto KTP' : this.fotoKTP,
                'Foto Kartu Keluarga' : this.fotoKK,
                Umur : this.umur,
                'Jenis Kelamin' : this.jenis_kelamin,
                Alamat : this.alamat,
                RT : this.rt,
                RW : this.rw,
                'Penghasilan sebelum pandemi' : this.penghasilan_pra,
                'Penghasilan setelah pandemi' : this.penghasilan_pasca,
                'Alasan membutuhkan bantuan' : alasan,
            }

            let time = Math.floor(Math.random() * 1000) + 1000;
            let timeOut = 1500
            if(time > timeOut){
                timeOut = 1500
            } else {timeOut = time}

            setTimeout( () => {
                if(time<1500){
                    this.color = 'success'
                    this.s_text = "Selamat, data Anda telah diterima."
                    this.snackbar = true
                    console.log(data)
                }
                else{
                    this.color = 'error'
                    this.s_text = "Input gagal, silakan coba lagi!"
                    this.snackbar = true
                }
                }, timeOut)
        }

    },
}
</script>
