<template>
  <v-app>
    <v-app-bar
      app
      color="white"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Logo JDS"
          class="shrink mr-2"
          contain
          src="https://digitalservice.jabarprov.go.id/wp-content/uploads/2019/11/logo_jds.png"
          transition="scale-transition"
          min-width="100"
          width="100"
        />
      </div>

      <v-spacer></v-spacer>

      <v-btn
        text
        color="primary"
        
      >
        <span>Pendataan Bansos</span>
      </v-btn>
    </v-app-bar>

    <v-main>
      <Form/>
    </v-main>
  </v-app>
</template>

<script>
import Form from './components/Form';

export default {
  name: 'App',

  components: {
    Form,
  },

  data: () => ({
    //
  }),
};
</script>
